/*
	We gonna need some global styling
*/

//Some global vars
@import "./vars";

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
html, body, #root {
	width: 100%;
	height: 100%;
}
.rps-app {
	width: 100%;
	height: 100%;
	background-image: linear-gradient($rps-color, rgb(168, 228, 255));
	.title {
		color: rgb(59, 67, 81);
		padding: 0;
		margin: 0;
	    text-align: center;
	}
	.title-xlg {
	    font-size: 50pt;
	}
	.title-lg {
	    font-size: 45pt;
	}
	.title-md {
	    font-size: 40pt;
	}
	.title-sm {
	    font-size: 35pt;
	}
	.title-xsm {
	    font-size: 30pt;
	}
	@media only screen and (max-width: $rps-screen-lg) {
		.title-xlg {
		    font-size: 40pt;
		}
		.title-lg {
		    font-size: 35pt;
		}
		.title-md {
		    font-size: 30pt;
		}
		.title-sm {
		    font-size: 25pt;
		}
		.title-xsm {
		    font-size: 20pt;
		}
	}
	@media only screen and (max-width: $rps-screen-md) {
		.title-xlg {
		    font-size: 30pt;
		}
		.title-xlg {
		    font-size: 27pt;
		}
		.title-lg {
		    font-size: 24pt;
		}
		.title-md {
		    font-size: 22pt;
		}
		.title-sm {
		    font-size: 18pt;
		}
		.title-xsm {
		    font-size: 16pt;
		}
	}
	@media only screen and (max-width: $rps-screen-xsm) {
		.title-xlg {
		    font-size: 26pt;
		}
		.title-xlg {
		    font-size: 24pt;
		}
		.title-lg {
		    font-size: 22pt;
		}
		.title-md {
		    font-size: 20pt;
		}
		.title-sm {
		    font-size: 16pt;
		}
		.title-xsm {
		    font-size: 15pt;
		}
	}
	.text {
	    text-align: justify;
		color: rgb(90, 90, 90);
		margin: 0;
		font-size: 16pt;
	}
	@media only screen and (max-width: $rps-screen-lg) {
		.text {
			font-size: 15pt;
		}
	}
	@media only screen and (max-width: $rps-screen-md) {
		.text {
			font-size: 13pt;
		}
	}
	@media only screen and (max-width: $rps-screen-xsm) {
		.text {
			font-size: 11pt;
		}
	}
}