$rps-screen-xlg: 99999px;
$rps-screen-lg: 1440px;
$rps-screen-md: 900px;
$rps-screen-sm: 768px;
$rps-screen-xsm: 550px;

$rps-board-width: 318px;
$rps-board-height: 378px;
$rps-board-box-size: 106px;

$rps-color: rgb(0, 162, 232);